__pycache__/
.idea
.DS_Store
tmp
logs
.venv/
/mlruns/
/tmp/
/mlruns/

# Generated reports and outputs
/outputs/
/reports/
/locust/*.json

# Test and coverage outputs
/.pytest_cache/
/.coverage
/htmlcov/
coverage.xml
junit.xml